<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This tells IIS to route all requests through Node.js -->
      <add name="nodejs" path="*" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\nodejs\node.exe" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rewrite all requests to the app.js (or the entry point of your app) -->
        <rule name="Nodejs">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
